@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Explore freelance services.</a>
    }
    else
    {
        <h3>Login or register to start exploring.</h3>
    }
</div>
