
<h3 class="text-center">Admin area</h3>

<div>
    <a asp-controller="WorkIndustry" asp-action="Index" asp-area="Admin" class="btn-outline-dark" role="button">Work Industries Control Panel</a>
</div>